{
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "dev": {
      "plugins": [
        [
          "babel-plugin-react-css-modules",
          {
            "webpackHotModuleReloading": true,
            "autoResolveMultipleImports": true,
            "filetypes": {
              ".scss": {
                "syntax": "postcss-scss",
                "plugins": [
                  "postcss-nested"
                ]
              }
            },
            "generateScopedName": "[local]"
          }
        ]
      ]
    }
  }
}
